body{
	font-family:fantasy;
	background-color: #f3f3f3;
	padding:100px;
	margin:100px;
	background-image:url(https://images3.alphacoders.com/762/76275.jpg);
	background-attachment:fixed;
}

.page {
	margin: 40px auto;
	border: 2px solid black;
	border-radius: 15px;
	background-color: white;
	overflow: hidden;
	max-width: 800px
}

.main-nav{
	background-image:url(https://media.comicbook.com/2018/07/back-to-the-future-trilogy-1122951-1280x0.jpeg);
	background-repeat:no-repeat;
	background-size:cover;	background-position:center -60px; padding: 1000px 20px 0px 20px;
}

.main-nav a{
	display:inline-block;
	border-radius: 5px 5px 5px 5px;
	border-bottom: 10px solid white;
	         background-color:rgba(255, 255, 255, 0.64);
	color:black;
	text-decoration:none;
	padding: 5px 10px;
	position:relative;
	top:10px;
	transition: top 300ms ease;
}

.main-nav a:hover{
	top:0px;
}

#cast a:hover {
  border-bottom: 2px solid green !important;
}

.page-content{
	padding: 20px;
}

h1 {
  margin: 20px -20px;
       padding: 10px 20px;	
}

.brown{
  background-color: #b68052;
  color: aliceblue;
}
a:link{
	color:#fdb413;
}
img{
	float:left
}
